<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>

</head>
<body>
<h1>Sign Up</h1>
<form th:action="@{/join}" method="post" th:object="${joinDTO}">
    <label for="username">Login ID:</label>
    <input type="text" id="username" th:field="*{username}">
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}">
    <br>

    <button type="submit">Sign Up</button>
</form>
<div>

</div>
</body>
</html>
